# Neon Database (neon.tech dan oling)
DATABASE_URL=postgresql://username:password@ep-xxx.us-east-2.aws.neon.tech/neondb?sslmode=require

# JWT Secret (o'zgartiring!)
JWT_SECRET=taklifnomachi-super-secret-key-2026-change-this

# Server
PORT=3001
NODE_ENV=production

# Site URL (avval Render subdomen, keyinroq domen qo'shasiz)
SITE_URL=https://taklifnomachi.onrender.com
